---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";

const blogEntries = await getCollection("blog");
blogEntries.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<BaseLayout title="Blog Posts">
  <Header />
  <main class="w-full max-w-2xl mx-auto">
    <ul class="mx-4 my-4 space-y-4">
      {
        blogEntries.map((entry) => (
          <li>
            <a
              href={`/blog/${entry.slug}`}
              class="block bg-gray-200 p-4 rounded-xl dark:bg-gray-800 hover:opacity-80"
            >
              <span class="text-2xl font-extrabold text-accent-600 dark:text-accent-200 block">
                {entry.data.title} →
              </span>
              <span
                class="text-sm font-semibold text-accent-600 dark:text-accent-200 opacity-80"
                title={entry.data.pubDate.toISOString()}
              >
                Published on
                <time datetime={entry.data.pubDate.toISOString()}>
                  {entry.data.pubDate.toISOString().slice(0, 10)}
                </time>
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
