---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<BaseLayout title="Get Involved!">
  <Header />
  <main class="my-8 p-4">
    <secton class="mx-auto block w-full max-w-xl">
      <h1
        class="text-4xl font-extrabold text-accent-600 dark:text-accent-200 mb-4"
        >Get Involved!</h1
      >
      <p
        >Brioche is a <strong>community-driven</strong> project. We are not seeking
        outside investment funding, and Brioche is only made possible by contributors
        and developers like you. If you are interested in <strong
          >package management</strong
        >, <strong>build tooling</strong>, <strong>development tools</strong>,
        or working on <strong>Rust</strong> or <strong>TypeScript</strong> projects,
        there are lots of ways you could help out!</p
      >
    </secton>
    <div
      class="mx-auto mt-8 grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 max-w-7xl"
    >
      <Card title="â¤ï¸ Sponsorships â¤ï¸">
        <p
          >Brioche isn't free to run! Contributing monetarily will help pay
          cloud costs and for self-hosted hardware. I'd also love to work on
          Brioche full-time one day, or even bring on other full-time
          developers!</p
        >
        <Button slot="action" href="https://github.com/sponsors/kylewlacy"
          >ðŸ’Ž Sponsor me! ðŸ’Ž</Button
        >
      </Card>
      <Card title="Join the Community">
        <p
          >Need help getting started? Have big ideas? Or just wanna nerd out
          about sandboxing / packaging / cursed computer lore? Join the
          discussion in one of our community spaces</p
        >
        <ul slot="action" class="text-center space-y-2">
          <li class="inline-block"
            ><Button
              href="https://discord.gg/cw5QeWv4E5"
              mini
              class="inline-block">Discord</Button
            ></li
          >
          <li class="inline-block"
            ><Button
              href="https://brioche.zulipchat.com/"
              mini
              class="inline-block">Zulip</Button
            ></li
          >
          <li class="inline-block"
            ><Button
              href="https://github.com/brioche-dev/brioche/discussions"
              mini
              class="inline-block">GitHub Discussions</Button
            ></li
          >
        </ul>
      </Card>
      <Card title="Contribute Packages">
        <p
          >Our ecosystem is still small. If you have a favorite CLI tool or
          language, you could make a huge impact by helping us package it</p
        >
        <Button slot="action" href="/docs/contributing/packaging-guide"
          >Packaging guide</Button
        >
      </Card>
      <Card title="Write Docs">
        <p
          >We want Brioche to be approachable to a wide audience, and that means
          having lots of docs! In-depth concepts, introductory explainers,
          tutorials, how-to guides, and more. If learning something in Brioche
          was hard for you, you can help make it easier for the next person!</p
        >
        <Button slot="action" href="https://github.com/brioche-dev/brioche.dev"
          >Docs Repo</Button
        >
      </Card>
      <Card title="Help With Issues">
        <p
          >An open source project takes teamwork! No matter your level of
          experience as a developer, there are different ways you can get
          involved in the main Brioche project:</p
        >
        <ul class="list-disc px-4">
          <li>Open issues for bugs or missing features</li>
          <li>Give test cases / feedback for existing issues</li>
          <li
            >Take a stab at fixing an open issue. Ask for help if you get stuck
            or if you're looking for mentorship!</li
          >
        </ul>
        <ul slot="action" class="text-center space-y-2">
          <li class="inline-block"
            ><Button
              href="https://discord.gg/cw5QeWv4E5"
              mini
              class="inline-block">Explore Issues</Button
            ></li
          >
          <li class="inline-block"
            ><Button
              href="/docs/contributing/overview"
              mini
              class="inline-block">Contributor's Overview</Button
            ></li
          >
        </ul>
      </Card>
      <Card title="Share Your Experience">
        <p
          >Did you try using Brioche but hit a major blocker? Or are you using
          it for Serious Business purposes? Tell us about it!</p
        >
      </Card>
      <Card title="Break It!">
        <p
          >We love seeing Brioche pushed beyond its limits and what we intended
          it to be used for!</p
        >
        <p>(This space intentionally left blank for cursed ideas)</p>
        <p
          slot="action"
          class="text-sm text-center text-gray-600 dark:text-gray-400"
          >(Please don't DDoS the registry or package cache though!)</p
        >
      </Card>
      <Card title="Big Sponsors">
        <p
          >If you're a company or foundation and you're interested in sponsoring
          Brioche in some way, get in touch!</p
        >
        <p
          >We are most interested in companies that can sponsor resources for
          us, such as cloud / VPS resources for build machines or serving
          packages (but we definitely want to keep the door open for other
          companies that are well aligned with our values)</p
        >
      </Card>
    </div>
  </main>
</BaseLayout>
