---
import { clsx } from "clsx";

interface Props {
  class?: string;
  href: string;
}
---

<a
  class={clsx(
    "text-accent-600 dark:text-accent-200 hover:text-gray-900 dark:hover:text-white underline",
    Astro.props.class,
  )}
  href={Astro.props.href}
>
  <slot />
</a>
