---
// Starlight disables Tailwind's preflight, so include it here
import "tailwindcss/src/css/preflight.css";
import "../tailwind.css";
import "../starlight-props.css";

import ThemeProvider from "@astrojs/starlight/components/ThemeProvider.astro";
import { starlightProps } from "../utils/starlight-props";

interface Props {
  title?: string;
  description?: string;
}

const { description } = Astro.props;
const title = Astro.props.title ?? "Brioche";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    {
      description != null ? (
        <meta name="description" content={description} />
      ) : null
    }

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e9c193" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#41362f" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title=`${title}`
      href={`${Astro.site}rss.xml`}
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <ThemeProvider {...starlightProps} />
  </head>
  <body class="pb-32 dark:bg-gray-900 dark:text-white">
    <slot />
  </body></html
>
